.CardItem {
  position: relative;
  width: 350px;
  border-radius: 1rem;
}

.CardItem_img {
  width: 100%;
  border-radius: 1rem;
}

.CardItem_text {
  position: absolute;
  text-align: left;
  top: 70%;
  left: 5%;
  color: white;
  text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
}

.CardItem_h2 {
  margin: 5px 0; /* Ajustez la marge selon vos besoins pour réduire l'écart entre les h2 */
}

.photo_1 {
  width: 100%;
  border-radius: 1rem;
  filter: grayscale(100%);
}

.CardItem_img2 {
  border-radius: 1rem;
}

.greenButton {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  margin-left: 20px;
}

.greenButton:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.greenButton:active {
  transform: translateY(-1px);
}

.redButton {
  padding: 1.3em 3em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.redButton:hover {
  background-color: #fd1853;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.redButton:active {
  transform: translateY(-1px);
}
