.histoire {
  margin-bottom: 200px;
}

.histoire img {
  width: 100%;
}

.text-histoire {
  margin-right: 40px;
  margin-left: 40px;
}

.histoire h3 {
  font-size: 25px;
}

.histoire h4 {
  font-size: 20px;
}
