.Inscription {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.Inscriptionform {
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  margin-top: 30px;
}

.classinput,
.classbut {
  display: flex;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 1.2vw;
  border-radius: 0.5vw;
  background-color: #fae7c0;
  border-color: white;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 8px 15px;
}

.classinput {
  width: 300px;
  margin-bottom: 10px;
}

.classtextarea {
  width: 313px;
  margin-bottom: 10px;
}

.classtextarea {
  display: flex;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 2vw;
  height: 10vw;
  border-radius: 0.5vw;
  background-color: #fae7c0;
  border-color: white;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding-left: 15px;
}

.containbutsubmit {
  display: flex;
  justify-content: center;
}

.classbut {
  justify-content: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  width: 170px;
}

@media screen and (min-width: 768px) {
  .classinput {
    width: 500px;
  }

  .classtextarea {
    width: 513px;
  }
}
