.DisplayCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  gap: 2rem;
  margin-top: 20px;
  margin-bottom: 200px;
}
.button_vote {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.affichage_vote {
  display: flex;
}

.text_vote {
  font-size: 30px;
}
.coeur_vote {
  font-size: 60px;
}
